.navbar-collapse{
    text-align: center;
}
.small-icon {
    width: 50px;
    height: 50px;
}

.container4 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; /* Alinea los elementos en la parte inferior */
    margin-left: 170px;
    margin-top: 20px; /* Baja el contenedor */
}

.container4 i {
    font-size: 16px;
    color: #D4AF37;
}

.btn-edit {
    padding: 10px 30px;
    background-color: #D4AF37;
    border: none;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 60px; /* Baja el botón */
}

.btn-delete {
    padding: 10px 30px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 60px; /* Baja el botón */
}

.container5 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /* Alinea los elementos en la parte inferior */
    margin-right: 170px;
    margin-top: -60px; /* Baja el contenedor */
}

.container5 i {
    font-size: 16px;
    color: #D4AF37;
}
.switch-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Ajusta según tu preferencia */
}
.form-check-input:checked {
    background-color: #28a745; /* Color verde al activarse */
    border-color: #28a745;    /* Bordes verdes */ 
}

.form-check-input {
    background-color: #ccc; /* Color gris al estar desactivado */
    border-color: #ccc;    /* Bordes grises */
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25); /* Sombra verde cuando se enfoca */
}
.swal2-popup {
    background-color: #000 !important;
    border: 2px solid #CCAF54;
}

.swal2-title,
.swal2-content {
    color: #fff !important;
}

.swal2-confirm,
.swal2-cancel {
    color: #000 !important;
}
.btn-agregar{
    background-color: #CCAF54;
}
.btn-agregar:hover{
    background-color: #9c8337;
}
