<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../../public/assets/img/LOGOHEADERTRANS.png">
    <link rel="stylesheet" href="../../../public/assets/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>Ver Pedido</title>
    <link rel="stylesheet" href="../../../public/assets/css/Usuario/index.css">
    <link rel="stylesheet" href="../../../public/assets/css/Usuario/verPedido.css">

</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <img src="../../../public/assets/img/LOGO.png" alt="Logo" width="125" height="125"
                    class="d-inline-block align-text-top">
            </div>

            <ul class="nav col-12 justify-content-center mx-auto">
                <h1>Mis Pedidos</h1>
            </ul>
        </header>
    </div>

    <div class="pedido-container">
        <div class="pedido-box">
            <h5>Pedido #1</h5>
            <a href="#">Detalle del pedido</a>
            <div class="icon-container">
                <td><a onclick="window.location.href='verEstEntrProd.html';" class="btn btn-icon"><img
                            src="../../../public/assets/img/icons/truck.svg"></a></td>
                <td><a onclick="window.location.href='verProdPedido.html';" class="btn btn-icon"><img
                            src="../../../public/assets/img/icons/eye.svg"></a></td>
            </div>
        </div>
        <div class="pedido-box">
            <h5>Pedido #2</h5>
            <a href="#">Detalle del pedido</a>
            <div class="icon-container">
                <td><a onclick="window.location.href='';" class="btn btn-icon"><img
                            src="../../../public/assets/img/icons/truck.svg"></a></td>
                <td><a onclick="window.location.href='';" class="btn btn-icon"><img
                            src="../../../public/assets/img/icons/eye.svg"></a></td>
            </div>
        </div>
        <div class="pedido-box">
            <h5>Pedido #3</h5>
            <a href="#">Detalle del pedido</a>
            <div class="icon-container">
                <td><a onclick="window.location.href='';" class="btn btn-icon"><img
                            src="../../../public/assets/img/icons/truck.svg"></a></td>
                <td><a onclick="window.location.href='';" class="btn btn-icon"><img
                            src="../../../public/assets/img/icons/eye.svg"></a></td>
            </div>
        </div>
        <div class="btn-regresar mt-3">
            <button class="back-button btn btn-secondary"
                onclick="window.location.href='Ver perfil-usuario.html';">Regresar</button>
        </div>
    </div>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        </ul>
        <p class="text-center text-white"></p>
    </footer>
</body>

</html>