<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../../public/assets/img/LOGOHEADERTRANS.png">
        <title>Detalle Producto</title>
        <link rel="stylesheet" href="../../../public/assets/css/Administrador/index.css">
        <link rel="stylesheet" href="../../../public/assets/css/Administrador/detalleProducto.css">
    </head>
    <body>
        <div class="container">
            <header
                class="custom-header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <img src="../../../public/assets/img/LOGO.png" alt width="125" height="125"
                        class="d-inline-block align-text-top">
                </div>
                <ul class="nav col-12 justify-content-center mx-auto">
                </ul>
            </header>
        </div>
        <div class="container1">
            
            <h2>Minoxidil Barba</h2>
            <div class="content">
                <div class="product">
                    <img src="../../../public/assets/img/minoxidilpelo.jpg" alt width="250"
                        height="250" class="d-inline-block align-text-top">
                </div>
                <div class="details">
                    <p>El minoxidil funciona dilatando los vasos sanguíneos en
                        el área donde se aplica, lo que aumenta el flujo
                        sanguíneo y estimula los folículos pilosos</p>
                    <p class="price">$ 30.000</p>
                        <button class="back-button1" onclick="window.location.href='editarProductosADM.html';">Regresar</button>
                </div>
            </div>
        </div>
    </body>
</html>
