<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../../public/assets/img/LOGOHEADERTRANS.png">
    <title>Resumen Cita</title>
    <link rel="stylesheet" href="../../../public/assets/css/Administrador/index.css">
    <link rel="stylesheet" href="../../../public/assets/css/Administrador/detalleReporteCitas.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Resumen Servicio</h2>
        </div>
        <div class="service-summary">
            <h3>Orden de Servicio</h3>
            <p>MysticalCut</p>
            <p>Bogotá</p>
            <p>Corte </p>
            <p>Tiempo: 40 min · </p>
    
            <div class="price-summary">
                <p class="label">Costo:</p>
                <p class="price"><s>$50.000</s> desde $40.000 COP</p>
            </div>
    
            <div class="cost-summary">
                <div class="price-summary">
                    <p class="label">Subtotal:</p>
                    <p class="price">50.000 COP</p>
                </div>
                <div class="price-summary">
                    <p class="label">Descuentos:</p>
                    <p class="price">-10.000 COP</p>
                </div>
                <div class="price-summary">
                    <p class="label">Total:</p>
                    <p class="price"><strong>desde 40.000 COP</strong></p>
                </div>
            </div>

            <button class="back-button1" onclick="window.location.href='verReporteCitasADM.html';">Regresar</button>
        </div>
    </div>
</body>
<script src="../../../public/assets/js/citaAgendada.js"></script>
</html>